@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.logo__item.logo__text {
    text-transform: none;
}

.logo__item.logo__text .logo__title {
    font-family: "Roboto Condensed";
    font-weight: bold;
    color: #12020F;
}